<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>

<div class="uk-grid">
    <div class="uk-width-medium-5-10">
    <canvas id="myChart"  height="300"></canvas>
    </div>
    <div class="uk-width-medium-5-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Aquisition Parameters</h1></strong>
        <form action="/collectadj">
        <h3># of Aq.: <input type="text" name="aqnumber" value="<%= aqnumber %>"></h3>
        <h3>Int. Time: <input type="text" name="inttime" value="<%= inttime %>"></h3>
        <h3>Scans 2Ave: <input type="text" name="scanavg" value="<%= scanavg %>"></h3>
        <h3>Box Car: <input type="text" name="boxcar" value="<%= boxcar %>"></h3>
        <h3><button class="uk-button uk-button-danger uk-button-large" type="submit">Acquire</button></h3>
        </form>
        <a class="uk-button uk-button-danger uk-button-large" href="#">Do with data somethin</a>
    </div>
    </div>
</div>
<%= data %>
</body>

    </html>





                      
<script>
var ctx = document.getElementById("myChart");
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    
    data: {
        datasets: [{
            label: 'Reference Spectrum',
            data: []
        }]
    },


    options: {
        title: {
            display: true,
            text: 'Measured Spectrum'
        },


        scales: {
            yAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'INTENSITY (counts)',
                padding: '10'
                }

            }],

            xAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'WAVELENGTH (nm)'
                }
            }]

        }
    }
});
</script>
