<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>
<iframe src='http://192.168.42.1/cgi-bin/setprefix.php?prefix=EXAMPLEA'></iframe>
<iframe src='http://192.168.42.1/cgi-bin/setsavelocation.php?location=/home/ocean'></iframe>
<div class="uk-grid">
    <div class="uk-width-medium-5-10">
    <canvas id="myChart"  height="300"></canvas>
    </div>
    <div class="uk-width-medium-5-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Aquisition Parameters</h1></strong>
        <form action="/collectadj">
        <h3># of Aq.: <input type="text" name="aqnumber" value="<%= aqnumber %>"></h3>
        <h3>Int. Time: <input type="text" name="inttime" value="<%= inttime %>"></h3>
        <h3>Scans 2Ave: <input type="text" name="scanavg" value="<%= scanavg %>"></h3>
        <h3>Box Car: <input type="text" name="boxcar" value="<%= boxcar %>"></h3>
        <h3>Sequence Interval: <input type="text" name="seqint" value="<%= seqint %>"></h3>
        <h3>Prefix Data: <input type="text" name="prefix" value="<%= prefix %>"></h3>
        <h3><button class="uk-button uk-button-danger uk-button-large" type="submit">Acquire</button></h3>
        </form>
        <a class="uk-button uk-button-danger uk-button-large" href="http://192.168.42.1/cgi-bin/startsequence.php">Do with data somethin</a>
    </div>
    </div>
</div>
<%= wavelength %>
<%= spectrum %>
</body>

    </html>





                      
<script>
var spec = [<%= spectrum %>];
var wave = [<%= wavelength %>];
var myDATA = [];
  for (var i = 0; i < wave.length; i++) {
    myDATA.push({"x": wave[i],"y": spec[i]});
  }
var ctx = document.getElementById("myChart");
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    
    data: {
        datasets: [{
            label: 'Reference Spectrum',
            data: myDATA
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Measured Spectrum'
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'INTENSITY (counts)',
                padding: '10'
                }
            }],
            xAxes: [{
                scaleLabel: {
                display: true,
                labelString: 'WAVELENGTH (nm)'
                }
            }]
        }
    }
});
</script>