<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>

SET DEFAULTS

<iframe src='http://192.168.42.1/cgi-bin/setmaxacquisitions.php?acquisitions=<%= aqnumber %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setintegration.php?time=<%= inttime %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setaverage.php?scans=<%= scanavg %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setboxcar.php?width=<%= boxcar %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setsequenceinterval.php?interval=<%= seqint %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setprefix.php?prefix=<%= prefix %>' height="0" width="0"></iframe>
    <iframe src='http://192.168.42.1/cgi-bin/setsavelocation.php?location=/home/ocean'height="0" width="0"></iframe>



<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Aquisition Parameters</h1></strong>
        <form action="/setup">
        <h3># of Aq.: <input type="text" name="aqnumber" value="<%= aqnumber %>"><br>
        Int. Time: <input type="text" name="inttime" value="<%= inttime %>"><br>
        Scans 2Ave: <input type="text" name="scanavg" value="<%= scanavg %>"><br>
        Box Car: <input type="text" name="boxcar" value="<%= boxcar %>"><br>
        Sequence Interval: <input type="text" name="seqint" value="<%= seqint %>"><br>
        Prefix Data: <input type="text" name="prefix" value="<%= prefix %>"><br></h3>
        <h3><button class="uk-button uk-button-danger uk-button-large" type="submit">Accept Settings</button></h3>
        </form>
        <a class="uk-button uk-button-danger uk-button-large" href="/acquire?aqnumber=<%= aqnumber %>&seqint=<%= seqint %>">Acquire Data</a>
    </div>
    </div>
</div>


</body>

    </html>
